.mainContainer {
  height: 100%;
  width: 100%;
  background: rgb(191, 182, 112);
  background: linear-gradient(
    360deg,
    rgba(191, 182, 112, 1) 0%,
    rgba(198, 184, 100, 1) 34%,
    rgba(255, 255, 255, 1) 100%
  );
}
